<h2>Background</h2>
<p>A group of local farmers have decided to work together to start a brick‐and‐mortar store where</p>
<p>they can sell all their products under one roof. They call themselves Farm Central.</p>
<p>Farm Central has approached your employer to bid on developing their stock management</p>
<p>website. The website will track incoming and outgoing stock and which farmer each item belongs</p>
<p>to.Your employer has been shortlisted after the submission of the original bid. Now it is time to</p>
<p>create a proposal to convince the client that your employer is the right company for the job.</p>

<h2>Features Implemented</h2>
<p>✓ Published Web API : https://farmercentralapi.azurewebsites.net/api/</p>
<p>✓ Published Azure SQL Server Database</p>
<p>✓ A database of farmers with their associated products</p>
<p>✓ Makes provision for two different user roles: farmer and employee.</p>
<p>✓ Requires farmers and employees to log into the website to access user‐specific information.</p>
<p>✓ Allows a logged‐in employee to add a new farmer to the database.</p>
<p>✓ Allows a logged‐in farmer to add a new product to their profile in the database.</p>
<p>✓ Allows a logged‐in employee to view the list of all the products ever supplied by a specific farmer.</p>
<p>✓ Allows a logged‐in employee to filter the displayed list of products supplied by a 
    specific farmer according to the date range or type of product.</p>