<h2>Why I need a study planner?</h2>
<p>Time management can be challenging. Besides your classes, you likely have other commitments like</p>
<p>extracurricular activities, work, and social engagements. Creating a study plan allows you to see how</p>
<p>you spend your time and ensures that you are setting aside enough time outside of class to</p>
<p>
    complete homework assignments, study for tests, and review and retain the information you are learning.
</p>

<h2>Purpose</h2>
<p>The purpose of this application is to help a student, with a better time management allocated to their academic</p>
<p>their academic life. This web-based application gives you the flexibility of letting you decide how</p>
<p>much time you really want to spend studying for the day. It will then track for the current week and </p>
<p>carry over remaining hours which will then be distributed out evenly towards the remaining of the</p>
<p>following weeks and added to that required total.</p>