@model FarmCentralWebApp.Models.ProductType

@{
    ViewData["Title"] = "AddProductType";
}

<h1>AddProductType</h1>

<h4>ProductType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProductType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductType1" class="control-label"></label>
                <input asp-for="ProductType1" class="form-control" type="text" />
                <span asp-validation-for="ProductType1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AddProduct">Add a product</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
