@model FarmCentralWebApp.Models.ProductType

@{
    ViewData["Title"] = "AddProductType";
}

<h2>Product Type</h2>
<h4>Add a product type/category for a Product to be categorised when adding new products</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProductType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Product type/category</label>
                <input asp-for="ProductType1" class="form-control" type="text" />
                <span asp-validation-for="ProductType1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AddProduct">Add a product</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
