@model FarmCentralWebApp.ViewModels.FilterByDate

@{
    ViewData["Title"] = "FilterByDate";
}

<h2>Filter by Date Added</h2>

<h4>Select a Start and End date to filter by</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilterByDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Start date range</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End date range</label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FarmerProductHistory">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
