@model FarmCentralWebApp.ViewModels.FilterByType

@{
    ViewData["Title"] = "FilterByType";
}

<h2>Filter by Product Type</h2>

<h4>Select a Product Type/Category to filter by</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilterByType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Product type/category</label>
                <select asp-for="ProductType" class="form-control" asp-items="@ViewBag.ProductType" ></select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="FarmerProductHistory">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
