@model FarmCentralWebApp.ViewModels.FilterByEmployee

@{
    ViewData["Title"] = "SelectFarmer";
}

<h1>SelectFarmer</h1>

<h4>FilterByEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectFarmer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <select asp-for="Name" class="form-control" asp-items="@ViewBag.farmerName"></select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter Products" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
