@model IEnumerable<FarmCentralWebApp.ViewModels.ViewHistory>

@{
    ViewData["Title"] = "ViewHistory";
}

<h1>View Product's History</h1>
<p>
    <a asp-controller="Products" asp-action="AddProduct">Add new product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of Product
            </th>
            <th>
                Product type/category
            </th>
            <th>
                Quantity/Stock
            </th>
            <th>
                Date added
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @{var dateFormat = item.ProductDate.ToString("D");}
                @Html.DisplayFor(modelItem => dateFormat)
                
            </td>
        </tr>
}
    </tbody>
</table>